body {
  color: var(--color-text-high-contrast);
  background-color: var(--color-background-app);
}

main {
  padding: var(--space-m);
  display: grid;
  gap: var(--space-l);
  align-items: center;
}

/* Mobile-first media queries */
@media only screen and (min-width: 600px) {
  main {
    padding: var(--space-l);
    gap: var(--space-xl);
  }
}
